.about {
  // display: none;
  position: relative;
  // height: 760px;
  // width: 1366px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    // height: 751px;
    // width: 768px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    // height: 812px;
    // width: 320px;
  }
}

// .about .section-wrapper {
//   @media screen and (width >= 320px) and (width <= 767px) {
//     all: unset;
//   }
// }

.about__gym {
  width: 1160px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 220px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 678px;
    align-items: center;
    gap: 36px;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 120px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    width: 100%;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.about__content {
  width: 355px;
  display: flex;
  flex-direction: column;
  // margin-right: 145px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 502px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    width: 290px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    // margin-left: 15px;
    // margin-right: 15px;
  }
}

.about__title {
  font-family: "Alumni", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 54px;
  margin-bottom: 25px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 20px;
    margin-top: 65px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 12px;
    margin-top: 40px;
    align-self: start;
  }
}

.about__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 95px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 36px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 36px;
    align-self: start;
  }
}

.about__description p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 8px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    max-width: 502px;
    text-align: center;
    margin-bottom: 0;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 36px;
    text-align: left;
  }
}

.about__description p:last-child {
  margin-bottom: 4px;

  @media screen and (width >= 320px) and (width <= 1365px) {
    display: none;
  }
}

.about__image {
  // max-width: 100%;
  // height: auto;
  height: 400px;
  width: 660px;
  // object-fit: cover;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (width >= 320px) and (width <= 767px) {
    margin-bottom: 36px;
    width: 100%;
    height: 345px;
  }
}

.about__video {
  position: absolute;
  left: 50%;
  bottom: 125px;
  transform: translate(-50%, 0%);

  width: 360px;
  height: 230px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (width >= 768px) and (width <= 1365px) {
    // transform: translate(75%, -50%);
    width: 270px;
    height: 170px;
    bottom: 35px;
    left: 50%;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    transform: none;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 170px;
  }
}

// .about__video iframe {
//   width: 360px;
//   height: 230px;

//   @media screen and (width >= 768px) and (width <= 1365px) {
//     width: 270px;
//     height: 170px;
//   }

//   @media screen and (width >= 320px) and (width <= 767px) {
//     width: 320px;
//   }
// }

.about__play-button-wrapper {
  // position: relative;
  position: absolute;
  width: 72px;
  height: 72px;
  // bottom: 166px;
  // left: 128px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media screen and (width >= 768px) and (width <= 1365px) {
    // bottom: 121px;
    // left: 100px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    // bottom: 120px;
    // left: 122px;
  }
}

.play-button {
  display: none;
  width: 100px;
  height: 100px;
}

/* default */
.about__play-button-wrapper .play-button.default {
  display: block;
}

/* hover */
.about__play-button-wrapper:hover .play-button.default {
  display: none;
}

.about__play-button-wrapper:hover .play-button.hover {
  display: block;
}

/* active */
.about__play-button-wrapper:active .play-button.default {
  display: none;
}

.about__play-button-wrapper:active .play-button.active {
  display: block;
}

/* focus */
.about__play-button-wrapper:focus .play-button.default {
  display: none;
}

.about__play-button-wrapper:focus .play-button.focus {
  display: block;
}

/* disabled */
.about__play-button-wrapper:disabled .play-button.default {
  display: none;
}

.about__play-button-wrapper:disabled .play-button.disabled {
  display: block;
}
