.faq {
  // display: none;
  // width: 1366px;
  background-color: #f9f9f9;
  color: #102654;
  padding-bottom: 100px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    // width: 768px;
    padding-bottom: 60px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    // width: 320px;
    padding-bottom: 70px;
  }
}

.faq__title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
  padding-top: 100px;
  margin-bottom: 50px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    font-size: 42px;
    line-height: 42px;
    padding-top: 60px;
    margin-bottom: 45px;
    text-align: center;
  }
  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 32px;
    line-height: 32px;
    padding-top: 70px;
    margin-bottom: 35px;
    text-align: center;
  }
}

.faq__container {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 40px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}

/* Табы */
.faq__tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: start;

  @media screen and (width >= 768px) and (width <= 1365px) {
    flex-direction: row;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}

.faq__tab {
  padding: 18px 48px;
  border: 1px solid rgba(16, 38, 84, 0.2);
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 162px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 16px;
    line-height: 16px;
    width: 140px;
    padding: 15px 23px;
  }
}

.faq__tab.active {
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  color: rgba(255, 255, 255, 0.7);
}

.faq__tab:hover {
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  color: #ffffff;
}

.faq__tab:focus {
  background: linear-gradient(
    97.05deg,
    rgba(237, 2, 51, 0.8) 17.6%,
    rgba(0, 62, 183, 0.8) 95.31%
  );
  color: #ffffff;
  border: 2px solid #000000;
}

.faq__tab:disabled {
  background: transparent;
  color: rgba(16, 38, 84, 0.3);
  border: 2px solid rgba(16, 38, 84, 0.3);
}

/* Список вопросов */
.faq__content {
  display: flex;
  flex-direction: column;
}

.faq__list {
  display: flex;
  flex-direction: column;

  @media screen and (width >= 320px) and (width <= 1365px) {
    display: block;
  }
}

.faq__details {
  border-bottom: 1px solid #74819c;
  padding-top: 23px;
  padding-bottom: 23px;
  height: auto;
  overflow: hidden;
  position: relative;

  @media screen and (width >= 320px) and (width <= 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.faq__details:first-child {
  border-top: 1px solid #74819c;
}

.faq__details[open] {
  animation: open_details 4s;
}

@keyframes open_details {
  0% {
    max-height: 80px;
  }

  100% {
    max-height: 500px;
  }
}

/* кружок для плюса */
.faq__details::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  border: 1px solid #1c3374;
  left: 817px;
  box-sizing: border-box;

  @media screen and (width >= 768px) and (width <= 1365px) {
    left: 636px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    width: 30px;
    height: 30px;
    left: 259px;
    top: 32px;
  }
}

/* плюс - свернутое состояние */
.faq__details::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: linear-gradient(to right, #1c3374 100%, transparent 50%),
    linear-gradient(to bottom, #1c3374 100%, transparent 50%);
  background-size: 100% 1px, 1px 100%;
  background-position: center;
  background-repeat: no-repeat;
  top: 33px;
  left: 827px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    top: 32px;
    left: 646px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    width: 14px;
    height: 14px;
    top: 40px;
    left: 267px;
  }
}

/* кружок для минуса */
.faq__details[open]::before {
  background: #1c3374;
}

/* минус - развернутое состояние */
.faq__details[open]::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 1px;
  background: linear-gradient(to right, #ffffff 100%, transparent 50%);
  background-size: 100% 1px;
  background-position: center;
  background-repeat: no-repeat;
  // left: 827px;
  top: 42px;

  @media screen and (width >= 320px) and (width <= 767px) {
    top: 47px;
    left: 264px;
  }
}

.faq__question {
  font-size: 24px;
  line-height: 24px;
  position: relative;
  list-style-type: none;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    font-size: 22px;
    line-height: 22px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 20px;
    line-height: 20px;
    width: 238px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.faq__answer {
  font-size: 18px;
  line-height: 24px;
  width: 660px;
  margin-top: 23px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 560px;
    margin-top: 19px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 15px;
    line-height: 20px;
    width: 238px;
    margin-top: 20px;
  }
}

/* фоны для hover и focus */
.faq__details:hover::before {
  background: #1c3374;
}

.faq__details:focus::before {
  background: #74819c;
  border: 1px solid #1c3374;
}

/* плюс белый для hover и focus */
.faq__details:hover::after,
.faq__details:focus::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: linear-gradient(to right, #ffffff 100%, transparent 50%),
    linear-gradient(to bottom, #ffffff 100%, transparent 50%);
  background-size: 100% 1px, 1px 100%;
  background-position: center;
  background-repeat: no-repeat;
  top: 33px;
  left: 827px;
}

.faq__details:disabled::before {
  background: transparent;
  border: 1px solid rgba(28, 51, 116, 0.3);
}

.faq__details:disabled::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: linear-gradient(
      to right,
      rgba(28, 51, 116, 0.3) 100%,
      transparent 50%
    ),
    linear-gradient(to bottom, rgba(28, 51, 116, 0.3) 100%, transparent 50%);
  background-size: 100% 1px, 1px 100%;
  background-position: center;
  background-repeat: no-repeat;
  top: 33px;
  left: 827px;
}
