.features {
  position: relative;
  width: 1366px;
  height: 604px;
  padding: 1px 0;
  background-color: #f8f9fc;
  text-align: center;
  color: #102654;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 768px;
    height: 738px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    width: 320px;
    height: 1193px;    
  }
}

.features-wrapper {
  margin-bottom: 100px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    margin-bottom: 60px;
  }
}

.features__title {
  padding-top: 100px;
  font-size: 54px;
  line-height: 54px;
  margin-bottom: 50px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    padding-top: 60px;
    font-size: 42px;
    line-height: 42px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    padding-top: 40px;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 40px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(0, auto));
  column-gap: 40px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, auto); 
    column-gap: 30px;
  }
  
  @media screen and (width >= 320px) and (width <= 767px) {
    display: flex;
    flex-direction: column;
  }
}

.features__card {
  display: flex;
  background-color: transparent;

  @media screen and (width >= 320px) and (width <= 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.features__card-value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 43px;

  @media screen and (width >= 320px) and (width <= 767px) {
    align-items: center;
    margin-right: 0;
    margin-bottom: 12px;
  }
}

.value-number {
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  color: transparent;    
  background-clip: text;
  background-image: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 64px;
    line-height: 62px;
  }
}

.value-units {
  font-size: 14px;
  line-height: 22px;
  color: #2e35ac;
}

.features__description {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 8px;

  @media screen and (width >= 320px) and (width <= 767px) {
    margin-right: 0;
    align-items: center;
    margin-bottom: 0;
  }
}

.features__description .title {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 8px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    font-size: 20px;
    line-height: 20px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    text-align: center;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 20px;
  }
}

.features__description .text {
  font-size: 16px;
  line-height: 24px;

  @media screen and (width >= 320px) and (width <= 767px) {
    text-align: center;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 14px;
    line-height: 22px;
  }
}

.features__card--special {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-color: #1c3374;
  color: #ffffff;
  height: 300px;
  flex-direction: column;
  padding: 58px 40px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    grid-column: 1 / -1;
    grid-row: 2;
    margin-left: 179px;
    margin-right: 179px;
    height: 262px;
    padding: 35px;
  }
 
  @media screen and (width >= 320px) and (width <= 767px) {
    position: relative;      
    margin-left: calc(-50vw + 50%);   
    margin-right: calc(-50vw + 50%);
    padding: 30px 74px 40px;
    height: 225px;
  }
}

.features__card--special .value-number {
  margin-bottom: 10px;
  color: #ffffff;

  @media screen and (width >= 768px) and (width <= 1365px) {
    margin-bottom: 25px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    margin-bottom: 0;
  }
}

.features__card--special .title {
  margin-bottom: 30px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    margin-bottom: 25px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    margin-bottom: 20px;
  }
}

.features__card--special .features__card-value {
  margin-right: 0;
  align-items: center;
}

.features__card--special .features__description {
  text-align: center;
}

.features__card--one,
.features__card--two {
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  @media screen and (width >= 767px) and (width <= 1365px) {
    border-bottom: none;
    margin-bottom: 40px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    border-bottom: none;
  }
}

.features__card--one,
.features__card--four {
  @media screen and (width >= 320px) and (width <= 767px) {
    margin-bottom: 35px;
  }
}

.features__card--two,
.features__card--four {
  @media screen and (width >= 320px) and (width <= 767px) {
    padding: 0 20px;
  }
}

.features__card--two,
.features__card--three,
.features__card--five {
  @media screen and (width >= 320px) and (width <= 767px) {
    margin-bottom: 40px;
  }
}

.features__card--one .features__card-value {
  @media screen and (width >= 768px) and (width <= 1365px) {
    margin-right: 14px;
  }
}

.features__card--two .features__card-value {
  margin-right: 79px;

  @media screen and (width >= 320px) and (width <= 767px) {
    margin-right: 0;
  }
}

.features__card--five .features__card-value {
  margin-right: 81px;

  @media screen and (width >= 320px) and (width <= 767px) {
    margin-right: 0;
  }
}

.features__card--two .features__card-value,
.features__card--four .features__card-value,
.features__card--five .features__card-value {
  @media screen and (width >= 768px) and (width <= 1365px) {
    margin-right: 15px;
  }
}

.features__card--four .features__card-value,
.features__card--five .features__card-value {
  padding-top: 40px;

  @media screen and (width >= 320px) and (width <= 767px) {
    padding-top: 0;
  }
}

.features__card--four .features__description,
.features__card--five .features__description {
  padding-top: 40px;

  @media screen and (width >= 320px) and (width <= 767px) {
    padding-top: 0;
  }
}
