.form-and-contacts {
  // display: none;
  // width: 1366px;
  height: 338px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    // width: 768px;
    height: 665px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    // width: 320px;
    height: 832px;
  }
}

.form-and-contacts-wrapper {
  display: flex;

  @media screen and (width >= 320px) and (width <= 1365px) {
    display: block;
  }
}

.form,
.contacts {
  width: 683px;
  height: 338px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    padding: 60px 164px;
  }
}

.form {
  background-color: #102654;
  color: #ffffff;
  padding: 60px 103px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 768px;
    height: 338px;
    padding: 60px 164px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    width: 320px;
    height: 394px;
    padding: 70px 15px;
  }
}

.contacts {
  padding: 60px 103px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 768px;
    height: 327px;
    padding: 60px 164px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    width: 320px;
    height: 438px;
    padding: 40px 15px;
  }
}

.form__title,
.contacts__title {
  font-family: "Alumni", sans-serif;
  font-size: 54px;
  line-height: 54px;
  margin-bottom: 36px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    text-align: center;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 32px;
    line-height: 32px;
  }
}

.contacts__title {
  @media screen and (width >= 320px) and (width <= 767px) {
    margin-bottom: 42px;
  }
}

.form__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (width >= 320px) and (width <= 767px) {
    display: inline;
  }
}

.form__input {
  font-size: 14px;
  line-height: 22px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #74819c;
  width: 223.5px;
  margin-bottom: 36px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 205px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    width: 100%;
  }
}

.form__input:hover {
  border-color: #ffffff;
}

.form__input:hover::placeholder {
  color: #ffffff;
}

.form__input:focus {
  border: 1px solid #ffffff;
  outline: none;
  box-sizing: border-box;
}

.form__input:focus::placeholder {
  color: transparent;
}
.form__input::invalid {
  color: red;
}

.form__input:focus {
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.form__input:disabled {
  border-color: rgba(255, 255, 255, 0.3);
}

form__input::placeholder {
  color: #cccccc;
}

.form__input:disabled::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.form__button {
  padding: 27px 56px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  cursor: pointer;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  width: 477px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 440px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    padding: 22px 112.5px;
    width: 290px;
  }
}

.contacts {
  background-color: #ffffff;
  color: #102654;
}

.contacts__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

  @media screen and (width >= 320px) and (width <= 767px) {
    display: flex;
    flex-direction: column;
  }
}

.contacts__details::after {
  content: "";
  position: absolute;
  width: 117px;
  height: 1px;
  rotate: 90deg;
  background-color: #74819c;
  top: 64px;
  left: 181px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    top: 57px;
    left: 162px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    display: none;
  }
}

.contacts__details-item {
  margin-bottom: 15px;
  list-style-type: none;

  @media screen and (width >= 320px) and (width <= 767px) {
    margin-bottom: 28px;
  }
}

.contacts__details-item:last-child {
  @media screen and (width >= 320px) and (width <= 767px) {
    margin-bottom: 0;
  }
}

.contacts__details-item--one,
.contacts__details-item--three {
  margin-right: 60px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    margin-right: 30px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    margin-right: 0;
  }
}

.contacts__details-item--two,
.contacts__details-item--four {
  margin-left: 60px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    margin-left: 30px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    margin-left: 0;
  }
}

.contacts__details-item--three,
.contacts__details-item--four {
  @media screen and (width >= 768px) and (width <= 1365px) {
    margin-bottom: 0px;
  }
}

.contacts__details-heading {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 5px;

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 12px;
  }
}

.contacts__details-text {
  font-size: 14px;
  line-height: 22px;

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 14px;
    line-height: 20px;
  }
}
