.hero {
  position: relative;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
  color: #ffffff;
  width: 1366px;
  height: 760px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    max-width: 768px;
    height: 574px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    height: 412px;
    max-width: 320px;
  }
}

.hero__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 26px;
  top: 0;
  left: 0;
  margin-bottom: 30px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    padding: 30px 0;
    margin-bottom: 0;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    padding: 16px 0;
    margin-bottom: 48px;
  }
}

.hero__header-phone {
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;

  @media screen and (width >= 768px) and (width <= 1365px) {
    font-size: 24px;
    line-height: 24px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 22px;
    line-height: 22px;
  }
}

.hero__header-phone::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  // background-color: #ffffff;
  bottom: -5px;
  background-color: transparent;
}

.hero__header-phone:active {
  color: #102654;
}

.hero__header-phone:active::after {
  content: "";
  position: absolute;
  background-color: #102654;
  width: 166px;
  height: 1px;
  top: 28px;
  left: 0;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 153px;
    top: 26px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    width: 140px;
    top: 24px;
  }
}

.hero__header-phone:hover {
  color: rgba(28, 51, 116, 0.5);
}

.hero__header-phone:focus {
  color: #1c3374;
}

.hero__header-phone:disabled {
  color: #f8f9fc;
}

.hero__content {
  display: flex;
  align-items: center;
  margin-left: 153px;
  justify-self: flex-start;

  @media screen and (width >= 768px) and (width <= 1365px) {
    margin-left: 0;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    align-items: end;
    margin-left: 0;
  }
}

.hero__features-list {
  font-size: 14px;
  line-height: 22px;
  position: relative;
  list-style-type: none;
  text-align: right;

  @media screen and (width >= 768px) and (width <= 1365px) {
    margin-right: 26px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    line-height: 20px;
    margin-right: 21px;
  }
}

.hero__headings {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-end;
  margin-right: 56px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    margin-right: 30px;
    gap: 0;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    margin: 0;
    gap: 0;
    position: relative;
  }
}

.hero__headings-city {
  font-family: "Alumni", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 54px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 10px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 14px;
  }
}

.hero__headings-main {
  font-family: "Alumni", sans-serif;
  font-size: 92px;
  font-weight: 800;
  line-height: 110px;
  letter-spacing: 4px;
  text-align: right;
  margin: 0;

  @media screen and (width >= 768px) and (width <= 1365px) {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;
    margin-bottom: 50px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 62px;
    line-height: 62px;
    letter-spacing: 1px;
  }
}

.hero__button {
  color: #ffffff;
  width: 270px;
  height: 66px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    padding: 22px 0;
    width: 185px;
    height: 56px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    position: absolute;
    bottom: -108px;
    left: -133px;
    width: 290px;
    height: 60px;
    padding: 22px;
  }
}

.hero__image {
  max-width: 500px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 324px;
    height: 390px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    display: none;
  }
}
