.juri {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  // width: 1366px;
  height: 600px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    // width: 768px;
    height: 490px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    width: 320px;
    height: 432px;
  }
}

.juri__title {
  text-align: center;
  font-size: 54px;
  line-height: 54px;
  padding-top: 100px;
  margin-bottom: 46px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    padding-top: 30px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 32px;
    line-height: 32px;
    padding-top: 40px;
    margin-bottom: 20px;
  }
}

.juri__list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 1160px;
  height: 300px;
  position: relative;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 560px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    width: 260px;
  }
}

.juri__item {
  position: relative;
}

.juri__item-pic {
  position: relative;

  @media screen and (width >= 320px) and (width <= 1365px) {
    width: 260px;
  }
}

.juri__item-name {
  font-size: 22px;
  line-height: 22px;
  position: absolute;
  bottom: 25px;
  color: #ffffff;
  left: 0;
  // transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.juri__item-hover {
  position: absolute;
  background-color: rgba(16, 38, 84, 0.89);
  inset: 0;
  height: 300px;
  color:#ffffff;
  display: none;
}

.juri__person {
  padding: 45.92px 41px;
  align-content: center;
}

.juri__person-name {
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 8.16px;
}

.juri__person-discipline {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-weight: 300;
  color: #b6bdcc;
  margin-bottom: 33.67px;
}

.juri__person-about {
  font-size: 14px;
  line-height: 22px;
  margin-left: 30px;
  font-weight: 300;
  list-style-type: disc;
}

.juri__person-fact {
  margin-bottom: 12px;
  font-weight: 400;
}

.juri__person-fact::marker {
   font-size: 14px;
}

.juri .arrow {
  color: #102654;
  width: 16px;
  height: 32px;
}

.juri .arrow::after {
  font-size: 32px;
}

.juri__item:hover .juri__item-hover {
  display: block;
}

.juri .swiper-button-next {
  right: 60px;
  left: auto;

  @media screen and (width >= 320px) and (width <= 767px) {
    display: none;
  }
}

.juri .swiper-button-prev {
  left: 60px;
  right: auto;

  @media screen and (width >= 320px) and (width <= 767px) {
    display: none;
  }
}

