.offers {
  width: 1366px;
  height: 784px;
  padding: 1px 0;
  text-align: center;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 768px;
    height: 882px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    width: 320px;
    height: 1191px;
  }
}

.offers__title {
  font-size: 42px;
  line-height: 42px;
  padding-top: 100px;
  margin-bottom: 70px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    padding-top: 60px;
    margin-bottom: 35px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 32px;
    line-height: 32px;
    padding-top: 40px;
    margin-bottom: 40px;
  }
}

.offers__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
  padding: 1px 0;

  @media screen and (width >= 768px) and (width <= 1365px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 35px 30px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.offers__card {
  width: 560px;
  border: 7px solid;
  border-image-source: linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%) ;
  border-image-slice: 1;
  padding: 20px;
  text-align: left;
  color: #1c3374;
  position: relative;

    @media screen and (width >= 768px) and (width <= 1365px) {
      width: 324px;
      height: 188px;
    }

    @media screen and (width >= 320px) and (width <= 767px) {
      width: 290px;
      height: 180px;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
}

.offers__card--two {
  margin-top: 52px;

  @media screen and (width >= 320px) and (width <= 1365px) {
    margin-top: 0;
  }
}

.offers__card--two,
.offers__card--three {
  height: 174px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    height: 188px;
  }
}

.offers__card--three {

  @media screen and (width >= 320px) and (width <= 767px) {
    margin-top: 30px;
  }
}

.offers__card-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;

  @media screen and (width >= 320px) and (width <= 767px) {
    text-align: center;
  }
}

.offers__card-title {
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 10px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    font-size: 24px;
    line-height: 24px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 22px;
    line-height: 22px;
  }
}

.offers__card-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;

  @media screen and (width >= 768px) and (width <= 1365px) {
    font-size: 16px;
    line-height: 24px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 14px;
    line-height: 22px;
  }
}

/* ссылка на карточке */
.offers__card-link {
  color: #1c3374;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  margin-top: auto;
  position: relative;
  border-bottom: 1px solid;
  border-color: #74819c;
  width: 73px;
  padding-bottom: 5px;

  @media screen and (width >= 320px) and (width <= 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.offers__card-link::before {
  content: "";
  position: absolute;
  border: 1px solid;
  border-color: transparent;
  padding: 10px;
  width: 100%;
  top: -4px;
  left: -10px;
}

.offers__card-link:focus {
  border-bottom: none;
}

.offers__card-link:focus::before {
  border-color: #1c3374;
}

.offers__card-link:hover {
  color: rgba(28, 51, 116, 0.8);
  border-color: rgba(28, 51, 116, 0.8);
}

.offers__card-link:active {
  border-color: #1c3374;
}

.offers__card-link:disabled {
  color: rgba(28, 51, 116, 0.3);
  border-color: rgba(28, 51, 116, 0.3);
}

/* выделенная карточка */
.offers__card--highlight {
  grid-row: 1 / span 2;
  background: #ed0233;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 560px;
  height: 460px;
  border: none;
  padding: 0;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 678px;
    height: 462px;
    grid-column: 1 / -1;
    grid-row: 1;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    flex-direction: column;
    width: 320px;
    height: 631px;
    margin-bottom: 40px;
  }
}

.offers__card--highlight .offers__card-info {
  padding: 40px 45px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    padding: 25px 40px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    padding: 30px 55px;
    margin-bottom: 0;
    height: 271px;
  }
}

.offers__card--highlight .offers__card-title {
  margin-bottom: 20px;

  @media screen and (width >= 320px) and (width <= 767px) {
    margin-bottom: 9px;
  }
}

.offers__card--highlight .offers__card-price {
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  margin-bottom: 40px;

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 28px;
  }
}

.offers__card--highlight .offers__card-link {
  color:#ffffff;
  border-color: #ffffff;
}

.offers__card--highlight .offers__card-link:focus::before {
  border-color: #ffffff;
}

.offers__card--highlight .offers__card-link:hover {
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
}

.offers__card--highlight .offers__card-link:disabled {
  color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
}
