@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Roboto/Roboto-Condensed.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Alumni";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Alumni/Alumni-Sans.woff2") format("woff2");
  font-display: swap;
}
